.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  width:100px;
  margin: 10px;
}
.file{
  opacity: 0;
  width: 200px;
  height: 50px;
  position: absolute;
  z-index:2
}
.file-label label{
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color:"black";
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}
.file-label input:hover + label,
.file-label input:focus + label {
  transform: scale(1.02);
}
.file-label input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

table, th, td {
  border: 1px solid black;
}


/* Changed MUI Code in Sign Up */
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{width: 194% !important;}
/* main button and lock avatar*/
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root, .css-1999axt-MuiAvatar-root{
    background-color: #ef0319 !important;
}
/*Navigation*/
.css-uh02xs-MuiTypography-root {
    font-family: chonburi !important;
    font-weight: 800 !important;
    font-size: 2.5rem !important;
    color: white !important;
}
.link, .link2{
  color: white;
  text-decoration: none;
  padding: 15px;
}
.link2{
  background: #9b6a4e;
  border: none;
  cursor: pointer;
}
@media (min-width: 600px){
  .css-1r339ym-MuiToolbar-root {
    background-color: #dab180 !important;
}
}

